
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  html,
  body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #f7f3f3, #ffffff);
  }
  
  .container {
    width: 250px;
    background: #ebe8e8;
    border: 2px solid white;
    width: 30%;
    /* height: 500px;/ */
    border-radius: 10px;
  
  }
  
  .inputbox {
    padding: 0px 15px;
    margin: 1.4rem auto;
    position: relative;
  }
  
  .inputbox input {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    outline: none;
  }
  
  .inputbox textarea {
    width: 100%;
    height: 150px;
    border-radius: 3px;
  }
  
  ::placeholder {
    color: transparent;
  }
  
  .inputbox label {
    position: absolute;
    top: 8px;
    left: 18px;
    pointer-events: none;
    transition: .5s;
  }
  
  button {
    width: 100px;
    display: block;
    margin: 0 auto;
    border: 1.5px solid rgb(248, 248, 248);
    border-radius: 10px;
    padding: 6px 20px;
    font-weight: bold;
    background: none;
    color: darkslategray;
    cursor: pointer;
    background: -webkit-linear-gradient(right, #fbbc51, #ffcb74);
  }
  
  .inputbox input:focus~label,
  .inputbox input:not(:placeholder-shown)~label {
    top: -18px;
    font-size: 12px;
  }
  
  
  button:hover {
    color: white;
    background: rgb(36, 33, 33);
    transition: 0.2s ease;
  }
  
  .alert {
    width: 100%;
    color: #ffffff;
    background: rgb(7, 205, 227);
    border-radius: 10px;
    padding: 8px 15px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    display: none;
  }
  
 
  
  
  
  #lbl {
    top: -17px;
    font-size: 15px;
  }
  