@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;

}

nav {
  display: flex;
  width: 100%;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
  flex-wrap: wrap;
  margin-top: -4px;
  /* position: fixed; */
}

nav .logo img {
  height: 75px;
  margin-left: 4px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 13px;
}

nav ul li a {
  color: #3B3B3B;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #050209;
  background: #ffcb74;
}

nav .menu-btn i {
  color: rgb(0, 0, 0);
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #3b3b3b;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 10px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ffcb74;
  }
}

/* ----------------------------jobs-------------------------------------- */

.main-jobs{
margin: 0;
padding: 0;
/* list-style: none; */
}

.job{
  
  display: block;
  background: #e8e6e6;
  margin-top: 10px;
  margin-left: 200px;
  /* justify-content: center; */
  padding:3px 20px;
  width: 80%;
  /* height: 30%; */
  border-radius: 15px;
  /* border: .5px solid black; */
  


}

.job h4{
  font-size: 1.3rem;
/* padding: 5px; */
/* padding-top:5px ; */
background-color: #e8e6e6;

}

.job p{
  font-size: 14px;
  margin-top: 5px;
  padding:3px 5px;
  background-color: #e8e6e6;


}

.job ul{
list-style: none;
padding: 5px;
background-color:#e8e6e6;

}

.job ul li {
line-height: 20px;
background-color: #e8e6e6;
font-size: 14px;

}
.job a button{
/* margin: 10px; */
margin-top:10px ;
padding: 2px;
height: 35px;
width: 95px;
border-radius: 10px;
background-color: #ffcb74;
font-weight:bold;
color: #050209;
font-size: 12px;
cursor: pointer;
border:none

}
.job a{
  border-radius: 10px;
}
.job a button:hover{
  /* margin: 10px; */
  margin-top:10px ;
  padding: 2px;
  height: 35px;
  width: 95px;
  border-radius: 10px;
  background-color: #0e0e0d;
  font-weight:bold;
  color: #e6e1ec;
  font-size: 12px;
  cursor: pointer;
  transition: .2s ease;
  
  }
hr .hr{
 border: 1px solid black;
}
.jid{
  background-color: #e6e1ec;
  font-size: 16px;
}

.hide{
  display: none;
}